@font-face {
  font-family: Inter;
  src: url(C:\Users\Calculator\Desktop\website\React_Team_Website\fonts\Inter.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  padding: 40px 20px;
  margin-bottom: 5vh;
}

.header-logo {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.hidden-button:hover {
  cursor: pointer;
}

.hidden-button {
  background-color: white;
  outline: none;
  padding: 0;
  border: none;
}

.header-buttons {
  float: right;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.header-buttons button {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #001AFF;
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 5px 5px;
  padding: 10px, 10px;
  max-height: 20vh;
}

.header-buttons button:hover {
  cursor: pointer;
  background: #000f96;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 20vw;
  width: auto;
  justify-content: center;
  vertical-align: center;
  padding: 10px 10px;
  align-items: left;
}

.sign-up-form label {
  padding: 5px 0px;
  color: #000;
  background-color: white;
  border-radius: 10px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sign-up-form input {
  padding: 5px 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.sign-up-form h1 {
  font-family: Inter;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  padding-bottom: 30px;
}

.sign-up-form button {
  margin-top: 30px;
  padding: 10px 0px;
  border-radius: 20px;
  background: #001AFF;
  cursor: pointer;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sign-up-form button:hover {
  background: #000f96;
}

.sign-up {
  display: flex;
  justify-content: space-evenly;
  vertical-align: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.sign-up img {
  min-width: 0;
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 100%;
  border-radius: 10px;
}


.dot1 {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20%;
  left: 40%;
  background-color: #001AFF;
  border-radius: 50%;
  display: inline-block;
  overflow: clip;
  z-index: -1
}

.dot2 {
  position: absolute;
  left: 5%;
  top: 15%;
  height: 50px;
  width: 50px;
  background-color: #001AFF;
  border-radius: 50%;
  display: inline-block;
  overflow: clip;
  z-index: -1;
}

.dot3 {
  position: relative;
  height: 150px;
  width: 150px;
  right: 75px;
  top: 75px;
  background-color: #001AFF;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  overflow: clip;
}

.dot4 {
  position: fixed;
  height: 150px;
  width: 150px;
  left: 0px;
  bottom: 0px;
  background-color: #001AFF;
  display: inline-block;
  border-radius: 0 300px 0 0;
  z-index: -1;
  overflow: clip;
}

.home-text {
  font-family: Inter;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: center;
  padding-bottom: 15%;
}

.home-text h1{
  margin-bottom: 16px;
}
.home-text p1{
  margin-bottom: 16px;
}

.home-text p2{
  margin-bottom: 16px;
}

.home-flex {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.home-flex img{
  min-width: 0;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  border-radius: 10px;
}

.dothome1 {
  position: relative;
  height: 150px;
  width: 150px;
  right: 225px;
  top: 75px;
  background-color: #001AFF;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  overflow: clip;
}

.dothome2 {
  position: relative;
  height: 100px;
  width: 100px;
  right: 725px;
  bottom: 400px;
  background-color: #001AFF;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  overflow: clip;
}



@media screen and (max-width: 900px) {
  .sign-up-form {
    flex-grow: 1;
    padding: 10px 10px;
  }

  .header {
    justify-content: center;
  }

  .header-buttons {
    margin-top: 20px;
  }

  .hide-dots-mobile {
    display: none;
  }

  .home-flex img{
    display:none;
  }

  .header {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}